.thirdHeroSection{
    display: flex;
    justify-content: space-evenly;
    color: #4d4d4d;
    padding: 80px 100px;
    align-items: center;
}
.thirdHeroSection > div > h2{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    font-weight: bold;
    font-size: 30px;
}